@font-face {
    font-family: 'roboto';
    src: url('./fonts/roboto-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('./fonts/roboto-medium-webfont.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('./fonts/roboto-bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}

body {
    min-height: 100vh;

}

main {
    display: flex;
    /* grid-auto-flow: column;
    grid-template-columns: 200px 1fr; */
}

button {
    /* font-family: 'roboto'; */
}

svg {
    width: 2rem;
    height: 2rem;
}

/* * * * * * * * * * * * *
* Header
* * * * * * * * * * * * * */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

}

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: auto;
}

header svg {
    vertical-align: middle;
}

.login {
    margin-left: auto;
    cursor: pointer;
}

/* * * * * * * * * * * * *
* Aside
* * * * * * * * * * * * * */
.info {
    padding: 20px;
    width: 200px;
    transition: width 350ms, padding 400ms;
}

.info h2 {
    margin-bottom: 10px;
}

.info ul {
    list-style: none;
    margin-bottom: 20px;
}

.info.collapsed {
    width: 0;
    padding: 0;
    opacity: 0;
}

/* * * * * * * * * * * * *
* Library
* * * * * * * * * * * * * */
.library {
    flex: 1;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, clamp(200px, 20%, 400px));
    gap: 20px;

    padding: 20px;
    transition: transform 350ms;
}
/* * * * * * * * * * * * *
* Card
* * * * * * * * * * * * * */
.card {
    padding: 10px;
    padding-bottom: 0;
    min-height: 100px;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    word-break: break-word;

    border-radius: 5px;
    min-height: 400px;
}

.book-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card p {
    margin: 1rem 0;
    text-align: center;
}

.delete-btn {
    align-self: end;
    
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 350ms;

    font-size: 1rem;
}

.delete-btn:hover {
    transform: scale(1.5);
}

.book-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.author {
    font-size: 1rem;
    font-weight: 500;
    margin: 10px;
}

.has-read {
    font-size: .8rem;
    align-self: end;
}

/*
* VISUAL ASSISTANCE
*/

body, header, aside {
    border: 1px solid red;
}
.library {
    border: 1px solid green;
}

.book {
    background-color: antiquewhite; 
    border: 1px solid black;
}
